<form  {{action "save" on="submit"}} class="form-group">
  <p>
    <label>
      First Name: {{input class="form-control" value=model.firstName}}
    </label>
  </p>
  <p>
    <label>
      Last Name: {{input class="form-control" value=model.lastName}}
    </label>
  </p>
  <p>
    <label>
      Email: {{input class="form-control" value= model.email}}
    </label>
  </p>
  <p>
    <label>
      Twitter: {{input class="form-control" value= model.twitter}}
    </label>
  </p>
  <input type="submit" value="Save" class="btn btn-primary">
  <button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
</form>
