<ul class="list-group">
  <li class="list-group-item">First Name: {{model.firstName}}</li>
  <li class="list-group-item">Last Name: {{model.lastName}}</li>
  <li class="list-group-item">Email: {{model.email}}</li>
  <li class="list-group-item">twitter: {{model.twitter}}</li>
</ul>

{{link-to 'All Friends' 'friends.index'}} |
{{link-to 'Edit' 'friends.edit' model}} |
<a href="#" {{action 'delete' model}}>Delete</a>
